.btn {
  position: fixed;
  right: 10px;
  bottom: 150px;
  z-index: 100;
  animation: mover 0.5s infinite alternate;
  border: 3px solid transparent;
  &:hover {
    box-shadow: 0 0 10px 0 #edca44 inset, 0 0 20px 2px #edca44;
    border: 3px solid #edca44;
  }
  @media (max-width: 600px) {
    position: fixed;
    width: 50px;
    right: 10px;
    bottom: 70px;
  }
}
.btn2 {
  position: fixed;
  right: 10px;
  bottom: 20px;
  z-index: 100;
  border: 3px solid transparent;
  &:hover {
    box-shadow: 0 0 10px 0 #edca44 inset, 0 0 20px 2px #edca44;
    border: 3px solid #edca44;
  }
  @media (max-width: 600px) {
    width: 50px;
    right: 10px;
    bottom: 20px;
  }
}

.btn1 {
  position: fixed;
  left: 10px;
  bottom: 20px;
  z-index: 100;
  animation: mover 0.5s infinite alternate;
  border: 3px solid transparent;
  &:hover {
    box-shadow: 0 0 10px 0 #edca44 inset, 0 0 20px 2px #edca44;
    border: 3px solid #edca44;
  }
  @media (max-width: 600px) {
    width: 50px;
    right: 10px;
    bottom: 20px;
  }
}

@keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}
