.wraper {
  // padding: 15px 100px;
  // background-color: #212529;
  // display: flex !important;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  @media (max-width: 650px) {
    padding: 15px 10px;
    flex-wrap: wrap;
    grid-template-columns: repeat(1, 1fr);
    // grid-row-gap: 100px;
  }

  .sec1 {
    height: 100%;
    width: 250px;

    @media (max-width: 650px) {
      width: 100%;
    }
    .menu {
      // height: 20%;
      color: #fff;
      background-color: black;
      opacity: 0.7;
      margin: 10px;
      padding: 13px;
      @media (max-width: 650px) {
        display: flex;
        justify-content: space-around;
        margin: 0px;
      }
      p {
        cursor: pointer;
        // padding: 10px;
        margin: 10px;
        background-color: #212529;
        border-radius: 8px;
        text-align: center;
        border: 3px solid transparent;
        &:hover {
          box-shadow: 0 0 10px 0 #00d7c3 inset, 0 0 20px 2px #00d7c3;
          border: 3px solid #00d7c3;
        }
        @media (max-width: 650px) {
          padding: 0px 20px;
        }
      }
    }
    .paymentMethod {
      // height: 87.5%;
      margin: 10px;
      padding: 10px;
      color: #fff;
      text-align: center;
      background-color: black;
      opacity: 0.7;
      @media (max-width: 650px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        height: min-content;
      }
      .btnDiv {
        display: grid;
        justify-items: center;
        grid-template-columns: repeat(2, 1fr);
        @media (max-width: 650px) {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
        }
      }
      img {
        margin-right: 5px;
        margin-top: 40px;
        width: 100px;
        border: 3px solid transparent;
        &:hover {
          box-shadow: 0 0 10px 0 #00d7c3 inset, 0 0 20px 2px #00d7c3;
          border: 3px solid #00d7c3;
        }
        @media (max-width: 650px) {
          margin-right: 20px;
          width: 80px;
        }
      }
      h2 {
        font-size: 23px;
      }
    }
  }
  .sec2 {
    flex: 1;
    // padding-left: 100px;
    @media (max-width: 650px) {
      padding-left: 0px;
    }

    p {
      margin-right: 50px;
      cursor: pointer;
      color: #fff;
      font-size: 16px;
      font-weight: 600;
    }
    .cardDiv {
      // display: flex;
      // flex-wrap: wrap;
      display: grid;
      grid-template-columns: repeat(5, 1fr);

      @media (max-width: 650px) {
        grid-template-columns: repeat(3, 1fr);
      }

      .card {
        width: 326px;
        @media (max-width: 650px) {
          width: 119px;
        }
      }
      // @media (max-width: 650px) {
      //   justify-content: center;
      // }
    }
  }
}
.filter {
  display: flex;
  justify-content: center;
  background-color: black;
  opacity: 0.7;
  @media (max-width: 650px) {
    display: block;
    padding: 10px;
  }
  .menuTopHeader {
    background-color: 212529;
    border-radius: 8px;
    margin: 10px;
    color: #fff;
    padding: 20px 50px;
    margin-right: 10px;
    cursor: pointer;
  }
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

.card {
  width: 200px;
}

.btn {
  border: 3px solid transparent;
  &:hover {
    box-shadow: 0 0 10px 0 #00d7c3 inset, 0 0 20px 2px #00d7c3;
    border: 3px solid #00d7c3;
  }
}
